<!--This is essentially the html template used for EACH page. This whole site is a single-page application (SPA).
every <%= %> is where something is being "injected" from routes/index.js-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container"> <!--container class keeps it from hitting the edges-->
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
    </div>
    <div>
      <% if (title == "Home") { %>
        <%- include partials/home_content.ejs %>
      <% } else if (title == "About Me") { %>
        <%- include partials/about_me_content.ejs %>
      <% } else if (title == "Projects") { %>
        <%- include partials/projects_content.ejs %>
      <% } else if (title == "Services") { %>
        <%- include partials/services_content.ejs %>
      <% } %>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>